#formation{
    text-align: center;
    color: #333;
}

#formation::before{
    background-image: url("../Assets/diploma.svg");
    margin-right: 5px;
    background-size: 22px 22px;
    display: inline-block;
    width: 22px;
    height: 22px;
    content: "";
}