@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

::-webkit-scrollbar{
  background-color: #fff;
  width: 13px;
}

::-webkit-scrollbar-thumb{
  background-color: #fcd703;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #ffe44c;
  border-radius: 30px;
}

body{
  margin: 0;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

